/* Utility classes */

/* Fonts */

@font-face {
    font-family: "Retroica";
    src: url(assets/fonts/Retroica.ttf) format("truetype");
}

.ff-Retroica {
    font-family: 'Retroica';
}

@font-face {
    font-family: "FulldayDemoBold";
    src: url(assets/fonts/FulldayDemoBold.ttf) format("truetype");
}

.ff-Fullday {
    font-family: 'FulldayDemoBold';
}

@font-face {
    font-family: "Retronoid";
    src: url(assets/fonts/Retronoid.otf) format("opentype");
}

.ff-Retronoid {
    font-family: "Retronoid";
}

@font-face {
    font-family: "Comfortaa-Regular";
    src: url(assets/fonts/Comfortaa-Regular.ttf) format("truetype");
}

.ff-Comfortaa-Regular {
    font-family: 'Comfortaa-Regular', sans-serif; 
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url(assets/fonts/Comfortaa-Bold.ttf) format("truetype");
}

.ff-Comfortaa-Bold {
    font-family: 'Comfortaa-Bold', sans-serif; 
}

@font-face {
    font-family: "Retronoid";
    src: url(assets/fonts/Retronoid.otf) format("opentype");
}

.ff-Retronoid{
    font-family: 'Retronoid', sans-serif; 
}

@font-face {
    font-family: "Muloka Kerash";
    src: url(assets/fonts/Muloka\ Kerash.otf) format("opentype");
}

.ff-Muloka{
    font-family: 'Muloka Kerash', sans-serif; 
}

.fs-16 {
    font-size: 16px;
}

.fs-22 {
    font-size: 22px; 
}

.fs-30 {
    font-size: 30px;
}

.fs-48 {
    font-size: 48px;
}

.letter-spacing-1 {
    letter-spacing: 2px;
}

.letter-spacing-2 {
    letter-spacing: 4px;
}

.line-spacing-1 {
    line-height: 1.5;
}

.uppercase {
    text-transform: uppercase;
}

.text-accent {
    display: block;
}

/* Colours */

.text-white {
    color: azure;
}

.text-dark {
    color: black;
}

/* Acessibility */

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }


/* Body settings */

body {
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
    padding: 0;
    overflow: scroll;
    
}

.flex {
    display: flex;
    gap: var(--gap, 2rem);
} 

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.grid-container {
    display: grid;
    text-align: center;
    overflow: hidden;
    padding: 0 1rem;
    place-items: center;
    
}

.grid-container * {
    max-width: 65ch;
}

.grid-item {
    margin: 0;
    padding-bottom: 4rem;
}

.grid-item img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding-bottom: 4rem;
}

body {
    background-position: bottom center;
    background-size: cover;
} 

/* Links */
.nav-bar a {
    text-decoration: none;

}

/* Responsive design for tablet and mobile*/


@media (min-width: 48rem) {
    .grid-container{
        column-gap: var(--container-gap, 1rem);
        grid-template-columns: minmax(2rem, 1fr) repeat(2,minmax(4rem, 40rem)) minmax(2rem, 1fr);
        padding-bottom: 10px;
        text-align: center;
        
    }

    .grid-container > *:first-child {
    grid-column: 2;
    /* outline: 1px solid red; */

    }

    .grid-container > *:last-child {
    grid-column: 3;
    /* outline: 1px solid yellow; */
    
    }

    .home .grid-container {
        align-items: end;
        padding-bottom: 8rem;

    }

}

/* Components - call to actions's */

.rounded-button {
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    display: inline-grid;
    margin-top: 40px;
    padding: 0 2em;
    place-items: center;    
    position: relative;
    text-decoration: none;
    z-index: 1; 
    
}

/* Primary Header */

.logo img {
    margin: 2rem;
    max-width: 50px; 
  }
  
  
.primary-header {
    align-items: center;  /* Aligns the items centre of logo */
    justify-content: space-between;  /* Moves to the right side */
}

.mobile-nav-toggle{
    display: none;
}

.nav-bar {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    background: hsl(0 0% 100% / 0.075);
    backdrop-filter: blur(2rem);

}

/* Responsive nav bar */

@media (max-width: 35rem) {
    .nav-bar {
        --gap: 3rem;
        flex-direction: column; 
        inset: 0 0 0 110px; 
        padding: min(30vh, 10rem) 2rem; 
        position: fixed; 

        transform: translateX(0%);
        transition: transform 350ms ease-in-out;

        z-index: 1000;
    }

    .nav-bar[data-visible="true"] {

        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
    }


    .mobile-nav-toggle {
        background-color: transparent;
        background-image: url(assets/images/hamburg.png);
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
        display: block;
        width: 2rem;
        height: 2rem; 
        padding-bottom: 20px;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 9999;

    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .nav-bar a > span[aria-hidden] {
         display: none;
    }

}

@media (min-width: 35em){
    .nav-bar {
        padding-block: 2rem;
        padding-inline: clamp(3rem, 10vh, 10rem);
    }

}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a > span {
    font-weight: 16px;
    margin-right: .5em;
}


/* Page specific*/

/* Home Page */

.home {
    background-image: url(assets/images/background-mobile.png);
}

@media (min-width: 35rem) {
    .home {
        background-image: url(assets/images/background-tablet.png)
    }

}

@media (min-width: 45rem) {
    .home {
        background-image: url(assets/images/background-desktop.png)
    }

}

/* About */

.about {
    background-image: url("assets/images/about.png");
    background-size: cover;
    margin: 0;
}

/* Contacts */

.contacts {
    background-image: url("assets/images/contacts.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}


.grid-container-contacts {
    display: grid;
    grid-template-columns: repeat(3, minmax(2rem, 1fr));
    padding: 0 1rem;
    place-items: center;
}

.grid-item-contacts {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: span 3;
    justify-content: flex-start;
}
    
.grid-item-contacts h1 {
    margin: 0; 
    padding-bottom: 4rem;
}

.contact-page label,
.contact-page input,
.contact-page textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    width: calc(100% - 1rem);
}

.contact-page label a {
    color: cadetblue;
}


.contact-btn {
    background-color: black;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer ;
    font-size: 32px;
    padding: 10px, 15px;
}

.contact-btn:hover {
    background-color: chocolate;
}

/* Game Page  */

.game {
    background-image: url("assets/images/dice-desktop.png");
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

@media (min-width: 48rem) {
    .grid-container-game {
        display: grid;
        grid-template-columns: minmax(2rem, 1fr) repeat(2,minmax(4rem, 40rem)) minmax(2rem, 1fr); 
        padding-bottom: 2rem; 
        
    }

    .grid-container-game > *:first-child {
    grid-column: 2;
    }

    .grid-container-game > *:last-child {
    grid-column: 3;
    
    }
    
    .game .grid-container-game {
        padding-bottom: 20rem;

    }
} 
  
  .dice {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  
  }

.img {
    max-width: 80%;
  }