/* Utility classes */

/* Font styles */

@font-face {
    font-family: "Retroica";
    src: url(assets/fonts/Retroica.ttf) format("truetype");
}

.ff-Retroica {
    font-family: 'Retroica';
}

@font-face {
    font-family: "Comfortaa-Regular";
    src: url(assets/fonts/Comfortaa-Regular.ttf) format("truetype");
}

.ff-Comfortaa-Regular {
    font-family: 'Comfortaa-Regular', sans-serif; 
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url(assets/fonts/Comfortaa-Bold.ttf) format("truetype");
}

.ff-Comfortaa-Bold {
    font-family: 'Comfortaa-Bold', sans-serif; 
}

@font-face {
    font-family: "Retronoid";
    src: url(assets/fonts/Retronoid.otf) format("opentypefont");
}

.ff-Retronoid{
    font-family: 'Retronoid', sans-serif; 
}


.fs-16 {
    font-size: 16px;
}

.fs-22 {
    font-size: 22px; 
}

.fs-48 {
    font-size: 48px;
}

.letter-spacing-1 {
    letter-spacing: 2px;
}

.uppercase {
    text-transform: uppercase;
}

.text-accent {
    display: block;
    font-weight: 700px;
}

/* Colours */

.text-white {
    color: white; 
}

.text-dark {
    color: black;
}


/* Hover features */

.underline-indicators > :active,
.underline-indicators {
    color: antiquewhite;
    text-decoration: underline;
    
}

/* Body settings */

body {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
    padding: 0%;
    
}

.flex {
    display: flex;
    gap: var(--gap, 2rem);
} /* Align items horizontally*/

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* */


/* Primary Header */

.logo img {
  margin: 1rem; /* Margin around the logo */
  max-width: 50px; /* Property sets the maxium width of the image to 50 px's - original image is much larger */
  height: auto /* This property makes sure the height of the image adjusts automatically to stop it from looking distorted when re-sizing */
  ;
}

.primary-header {
    align-items: center;  /* Aligns the items centre of logo */
    justify-content: space-between;  /* Moves to the right side */
}

.nav-bar {
    list-style-type: none; /* Default reset*/
    margin: 0;
    padding: 0;

    background: hsl(0 0% 100% / 0.075);/* HSL representation: hsl(hue, saturation, lightness) first digit is color 0 because doesn't matter, saturattion 0% and 100% for white 0.1 makes it transparent*/
    backdrop-filter: blur(2rem);

}

/* Links */
.nav-bar a {
    text-decoration: none;

}


/* Accessibility*/

.nav-bar a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.5rem; /* Logical property left and right - if the lingual direction changes it goes in the right direction */
}


/* Responsive design for tablet and mobile*/


@media (max-width: 35rem) {
    .nav-bar {
        --gap: 3rem;
        flex-direction: column; /* Stacks onj top of each other in media range */
        inset: 0 0 0 70px; /*Logical property short hand for margin top, bottom, left and right  */
        padding: min(30vh, 10rem) 2rem; /* This min function will always choose the minimum value - view height is more than 10 rem, it will show 10rem and vice versa - more dynamic */
        position: fixed; /* Fix nav bar when scrolling*/
        
    }
}

@media (min-width: 45rem) {
    .grid-container{
        column-gap: var(--container-gap, 1rem);
        grid-template-columns: minmax(2rem, 1fr) repeat(2,minmax(2rem, 40rem)) minmax(2rem, 1fr); /*minmax added for 2 columns to keep it repsosive and not make the content bleed out to the sides*/
        text-align: center;
    }

    .grid-container > *:first-child {
    grid-column: 2;
    /* outline: 1px solid red; */

    }

    .grid-container > *:last-child {
    grid-column: 3;
    /* outline: 1px solid yellow; */
    
    }

    .home .grid-container {
        align-items: end;
        padding-bottom: 4rem;

    }

}



/* Grid container for every page */


.grid-item {
    grid-column: span 1;
}


.grid-item span.text-accent {
    margin-bottom: 10px;
    margin-top: 10px;

}

.grid-container {
    outline: 5px solid green;
    display: grid;
    text-align: center;
    padding: 0 1rem;
    place-items: center;
    
    
}

.grid-container * {
    max-width: 50ch;
}

.grid-item img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding-bottom: 50px;
}

/* Components - call to actions's */

.rounded-button {
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    display: inline-grid;
    margin-bottom: 50px;
    padding: 0 2em;
    place-items: center;    
    position: relative;
    text-decoration: none;
    z-index: 1; /* will be positioned in front */

    
}

.rounded-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl( var(--clr-white) / .1);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}
 
.rounded-button:hover::after,
.rounded-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}


/* Page specific items */

/* Home Page */






